.heading {
    animation: textAnima 3s infinite alternate;
}

.paragraph {
    font-size: 40px;
    color: red;
}

.box {
    border-bottom: 10px solid black;
    margin: 200px;
    width: 300px;
    /* animation: colorChanger 2s ease-in-out infinite alternate; */
}

.bouncing {
    width: 200px;
    height: 200px;
    background-color: red;
    margin-left: 50px;
    border-radius: 50%;
    animation: colorChanger 2s infinite alternate;
}


#xyz {
    color: white;
    background-color: gray;
    border-radius: 10px;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    font-size: 30px;

}

#xyz:hover {
    color: greenyellow;
    background-color: black;
}

#count {
    font-size: 40px;
    text-align: center;
    color: brown;
    font-weight: 800;
}

#add {
    background-color: greenyellow;
}

#remove {
    background-color: red;
}

/* mobiles */
@media screen and (min-width:320px) and (max-width:480px) {
    .paragraph {
        font-size: 10px;
        color: blueviolet;
        font-weight: bolder;
    }
}

/* tablets */
@media screen {}

/* Animations */

@keyframes colorChanger {
    from {
        background-color: red;
        /* margin: 0px; */
        transform: translateY(0);
    }

    to {
        background-color: blue;
        transform: translateY(-150px);
    }
}

@keyframes textAnima {
    0% {
        color: blue;
        font-size: 20px;
        /* text-align: start; */
    }

    50% {
        color: red;
        font-size: 25px;
        /* text-align: center; */
    }

    100% {
        color: forestgreen;
        font-size: 35px;
        /* text-align: end; */
    }
}